<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
<!-- <% @user.attributes.each do |key, val| %>
	<h1><%= key %></h1>
	<h3><%= val %></h3>
<% end %>
 -->

 <%= @user.attributes.inspect %>