
<div class="row">
	<div class="col-xs-12">
		<h1>Welcome to Sharey</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h4>The fastest way to share web content between friends.</h4>
	</div>
</div>