
<div class="row">
</div>

<div class="row headline">
	<div class="col-xs-6 col-sm-3">
		<%= image_tag "http://placehold.it/262x350", alt:"Sharey", class:"img-responsive" %>
	</div>

	<div class="col-xs-6 col-sm-9">
		<h1>Meet Sharey.</h1>
	</div>
<!-- 	<div class="clearfix visible-xs-block"></div> -->
	<div class="col-xs-12 col-sm-9">
		<h4>She's the third woman in your relationships, and the fastest way to share web content with friends.</h4>
	</div>
</div>