


<div class="row" id="headline">
	<div class="col-xs-6 col-sm-3 col-md-4" id="meet-sharey-image">
		<%= image_tag "262x350.gif", alt:"Sharey", class:"center-block", id:"sharey-img" %>
	</div>

	<div class="col-xs-6 col-sm-9 col-md-7" id="meet-sharey">
		<h1>Meet Sharey.</h1>
	</div>
<!-- 	<div class="clearfix visible-xs-block"></div> -->
	<div class="col-xs-12 col-sm-9 col-md-7">
		<h4>She's the third person in your relationships, and the fastest way to share web content with friends.</h4>
	</div>
</div>
<hr/>

