<div id="get-started">
	<div class="row">
		<div class="col-md-12">
			<h3>Stop emailing sh*t to your friends!</h3>
			<h5>Stop sending that video into your friends inbox or posting it on their Facebook Timeline. Sharey makes it super easy to share content without having to leave what you're doing.</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Making dinner plans?</h4>
		</div>
	</div>

			
	<div class="row vertical-align">

		<div class="col-xs-12 col-sm-4 col-md-5 text-center">
			<%= image_tag "burger-priest.png", alt:"Share this restaurant!", class:"img-thumbnail img-responsive" %>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-2">
			<div class="row vertical-align">
				<div class="hidden-xs col-sm-3 col-md-2 text-center chevron">
					<i class="fa fa-chevron-right"></i>
				</div>
				<div class="hidden-sm hidden-md hidden-lg col-xs-12 text-center chevron">
					<i class="fa fa-chevron-down"></i>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-8 text-center">
					<%= image_tag "ShareyIcon_128x128_4.png", class:"img-thumbnail", id:"sharey-icon" %>
				</div>
				<div class="hidden-xs col-md-2 col-sm-3 text-center chevron">
					<i class="fa fa-chevron-right"></i>
				</div>
				<div class="hidden-sm hidden-md hidden-lg col-xs-12 text-center chevron">
					<i class="fa fa-chevron-down"></i>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-5 text-center">
			<%= image_tag "sharey-screenshot.png", alt:"Share this restaurant!", class:"img-thumbnail img-responsive" %>
		</div>


	</div>
</div>