#headline {
	@media (max-width: 479px) {	
		h1 {
			font-size: 48px;
			line-height: 50px;
		}
		h4 {
			font-size: 1.8em;
		}
		#meet-sharey {
			padding-left: 0px;
		}
		#sharey-img {
			// Calcuulated by 768/12 * 3 - 30 (gutter)
			width: 120px;  
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	@media (min-width: 480px) and (max-width: $screen-xs-max) { // 767px	
		h1 {
			font-size: 5em;
			line-height: 1.1em;
		}
		h4 { 
			font-size: 2em;
		}
		#meet-sharey {
			// padding-left: 0px;
		}#sharey-img {
			width: 192px;
			padding-left: 0px;
			padding-right: 0px;
			}
	}

	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { // 768 and 991
		#sharey-img {
			width:162px;
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) { // 992 and 1199
		#sharey-img {
			width:262px;
			// padding-left: 0px;
			// padding-right: 0px;
		}
	}

	@media (min-width: $screen-lg-min) { //1200
		#sharey-img {
			width:262px;
			// padding-left: 0px;
			// padding-right: 0px;
		}
	}
}



// @media (max-width: 1199px) { //1200
// 	#sharey-img {
// 		width:262px;
// 		// padding-left: 0px;
// 		// padding-right: 0px;
// 	}
// }

// @media (max-width: 991px) { //992
// 	#sharey-img {
// 		width:162px;
// 		padding-left: 0px;
// 		padding-right: 0px;
// 	}
// }

// @media (max-width: 767px) { //768
// 	#headline {
// 		h1 {
// 			font-size: 5em;
// 			line-height: 1.1em;
// 		}
// 		h4 { 
// 			font-size: 2em;
// 		}
// 		#meet-sharey {
// 			// padding-left: 0px;
// 		}#sharey-img {
// 			width: 192px;
// 			padding-left: 0px;
// 			padding-right: 0px;
// 		}
// 	}
// }

// @media (max-width: 479px) { //480
// 	#headline {
// 		h1 {
// 			font-size: 48px;
// 			line-height: 50px;
// 		}
// 		h4 {
// 			font-size: 1.8em;
// 		}
// 		#meet-sharey {
// 			padding-left: 0px;
// 		}
// 		#sharey-img {
// 			// Calcuulated by 768/12 * 3 - 30 (gutter)
// 			width: 120px;  
// 			padding-left: 0px;
// 			padding-right: 0px;
// 		}
// 	}
// }