/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap-sprockets";

// Ensures the site doesn't "shift" between pages
html {
  overflow-y: scroll;
}

/* Override default SASS variables */
@import "variables";


/* Import bootstrap */
@import "bootstrap";

// Div with Sharey image and description
@import "headline";

// Navigation custom styling
@import "nav";

/* Extend with Paper theme */
@import "bootswatch";

// Import font-awesome, required by bootstrap-social
@import "font-awesome";

// Import social buttons
@import "bootstrap-social";

// Get started div
@import "get_started";

#friends-table {
	td {
		vertical-align: middle;
	}
	#tag-header {
		padding-left: 0px;
	}
}